ion-content {
  ion-item {
    margin-top: 20px;
    box-shadow: 4px 4px 4px 0 #00000015, 0 6px 5px 0 #0000000e;
    // margin: 5px;
    // margin-top: 5px;
    margin-right: 10px;
    border-radius: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    --background: url(../../assets/images/bg-weather/light.png) no-repeat center;
    // padding: 10px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 0px;
    //  color: white;
    .box-one {
      position: relative;
      padding: 10px;
      text-align: center;
      img {
        width: 110px;
      }
      .absolute {
        font-size: 12px;
      }
    }
    .box-two {
      margin-left: 25px;
      text-align: center;
      padding: 10px;
      svg {
        font-size: 18px;
      }
      h3 {
        padding-left: 20px;
        font-size: 90px;
        margin-top: 0px;
      }
      p {
        font-size: 12px;
      }
    }
    h5 {
      margin: 0px;
      font-size: 15px;
    }
    p {
      font-size: 12px;
      margin: 0px;
    }
    h6 {
      font-size: 17px;
      margin-top: 10px;
    }
    .card-1 {
      padding: 5px;
    }
  }
}
